$primary-color: #740f35;
$secondary-color: #74580f;
$tertiary-color: #0f7458;

.container {
  background-color: $tertiary-color;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  color: #e6e6e6;
}

p {
  color: #e6e6e6;
}
