$primary-color: #740f35;
$secondary-color: #74580f;
$tertiary-color: #0f7458;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $primary-color;
  color: #fff;
  margin: 0; /* Ensure no margin */
  width: 100%; /* Ensure it spans the full width */
  position: relative; /* Make navbar the positioning context */

  .profile-link {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Space between image and text */
  }

  img {
    width: 2rem; /* Adjust the size as needed */
    height: 2rem; /* Adjust the size as needed */
    border-radius: 50%; /* Make the image round */
    object-fit: cover; /* Ensure the image covers the container */
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Fontdiner Swanky', serif;
    font-weight: 400;
    font-style: normal;
    color: #f9f9f9;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: default;
  }

  .menu {
    display: flex;
    align-items: center; /* Ensure items are centered vertically */
    gap: 1rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-style: normal;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.2rem;

      &:hover {
        color: $tertiary-color;
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;

    span {
      height: 3px;
      width: 25px;
      background-color: #fff;
      margin: 4px 0;
      transition: 0.4s;
    }
  }

  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: $primary-color;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 1rem 0;
      align-items: center; /* Center items horizontally */

      a {
        padding: 1rem;
        text-align: center;
      }
    }

    .menu.active {
      display: flex;
    }

    .hamburger {
      display: flex;
    }
  }

  @media (max-width: 480px) {
    padding: 0.5rem 1rem;

    .logo {
      font-size: 1.2rem;
    }

    .menu {
      a {
        font-size: 1rem;
      }
    }

    .hamburger span {
      height: 2px;
      width: 20px;
    }
  }
}

.login-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  min-width: 300px;
  z-index: 1000; /* Ensure it appears in front of other content */
  animation: fadeIn 0.5s ease-in-out;
  &.fade-out {
    animation: fadeOut 0.5s ease-in-out;
  }

  @media (max-width: 768px) {
    justify-content: flex-end; /* Align to the right */
    right: 0; /* Ensure it aligns to the right edge */
  }

  @media (max-width: 480px) {
    min-width: 100%;
    padding: 1rem;
    justify-content: flex-end; /* Align to the right */
    right: 0; /* Ensure it aligns to the right edge */
  }
}

.login-wrapper {
  background-color: #f9f9f9;
  padding: 2rem; /* Make the login form wider */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: 480px) {
    padding: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
